.m-top-li {
  position: relative;
}

.m-top-li > li {
  width: calc(100% / 3);
  height: 563px;
  display: inline-block;
  border-right: @cont-border-right;
  background-color: #ffffff;
  vertical-align: top;
}

.m-tops-li > li:last-child {
  border-right: 0;
}

.m-top-line {
  display: inline-block;
  vertical-align: top;
}

.m-top-gen-tit {
  padding: 15px 0px 10px 10px;
  font-size: 16px;
  border: @cont-sub-border;
}

.m-oneTop {
  width: 100%;
  height: 190px;
  border: @cont-sub-border;
  border-top: 0;
  background-size: cover;
  background-position: 50% 50%;
  vertical-align: bottom;
  position: relative;
  cursor: pointer;
}

.m-oneTop-lank {
  margin-top: 115px;
  display: inline-block;
  width: 20%;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  color: #ffffff;
  padding: 20px 30px 10px 30px;
  vertical-align: top;
}

.m-oneTop-t {
  margin-top: 120px;
  width: 80%;
  font-weight: 100;
  text-align: left;
  line-height: inherit;
  font-size: 11px;
  display: inline-block;
  color: #fff;
  border-left: @cont-sub-border;
  padding: 5px 5px;
}

.m-oneTop-t > span {
  text-align: left;
  line-height: inherit;
  font-size: 16px;
}

.m-oneTop-w {
  color: #999;
  font-size: 14px;
}

.m-toplank {
  height: 324px;
}

.m-toplank > li {
  width: 100%;
  height: calc(100%/4);
  border: @cont-sub-border;
  border-top: 0;
  cursor: pointer;
}

.m-toplank-no {
  display: inline-block;
  width: 20%;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  color: #000;
  padding: 20px 30px 10px 30px;
  vertical-align: top;
}

.m-toplank-name {
  display: inline-block;
  width: 80%;
  height: 100%;
}

.m-toplank-name-t {
  display: inline-block;
  width: 210px;
  color: @cont-ca-gen;
  font-size: 11px;
  vertical-align: top;
  margin-top: 15px;
  padding: 10px 0px 0px 10px;
  border-left: @cont-sub-border;
}

.m-toplank-name-img {
  display: inline-block;
  align: right;
  width: 87px;
  height: 80px;
  border-left: @cont-sub-border;
  background-position: 50% 50%;
  background-size: cover;
}

.m-toplank-name-t > span {
  text-align: left;
  line-height: inherit;
  font-size: 16px;
  color: @cont-ca-tit;
}