<li>
    <div class="m-mainIssue-img"></div>
    <div class="m-mainIssue-txt">
        <div class="m-mainIssue-txt-s">{{~gen~}}</div>
        <div class="m-mainIssue-txt-b">{{~title~}}</div>
        <div class="m-mainIssue-txt-m">{{{summary}}}</div>
    </div>
</li>