@import 'common.less';
@import './main-sub/m-issue.less';
@import './main-sub/m-top.less';
@import './main-sub/m-today.less';
@import './main-sub/m-live.less';

.m-slide-img {
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/m-top.jpg");
  width: 100%;
  height: 400px;
  margin: 110px 0px 50px 0px;
}

.m-slide-btn {
  position: relative;
}

.m-slide-btn-l, .m-slide-btn-r {
  display: inline-block;
  vertical-align: middle;
  margin-top: 140px;
  font-size: 60px;
  line-height: 80px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.m-slide-btn-r {
  position: absolute;
  right: 0;
}

.m-slide-h:hover {
  color: rgba(255, 255, 255, 1);
}

.m-body {
  margin: 0px auto;
  width: 1180px;
}

.m-tt {
  display: inline-block;
  vertical-align: bottom;
  font-size: 25px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.m-event-t {
  position: relative;
  margin-top: 60px;
}

.m-all {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  font-size: 14px;
  padding: 9px 16px 9px 16px;
  border: @cont-sub-border;
  border-radius: 3px;
  cursor: pointer;
}

.m-event-m {
  position: relative;
}

.m-event-m > li {
  width: calc(100% / 3);
  height: 190px;
  display: inline-block;
  border-right: @cont-border-right;
  background-color: #ffffff;
}

.m-event-m > li:last-child {
  border-right: 0;
}

.m-live-tt {
  display: inline-block;
  vertical-align: bottom;
  font-size: 25px;
  letter-spacing: -1px;
}

.m-live-tt > span {
  color: @cont-ca-gen;
  font-size: 14px;
  vertical-align: top;
  margin-bottom: 0px;
}

.m-live-img {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  border: @cont-sub-border;
}

.m-cont-tt {
  color: @cont-ca-tit;
  font-size: 14px;
  padding-top: 10px;
}

.m-cont-gen {
  color: @cont-ca-gen;
  font-size: 12px;
}

.m-cont-w {
  color: #999;
  font-size: 12px;
  padding-top: 5px;
  cursor: pointer;
}

.m-live-cont-w:hover {
  text-decoration: underline;
}

.new-cont > li {
  display: inline-block;
  height: 280px;
  width: calc(100% / 6);
  vertical-align: top;
  border-right: @cont-border-right;
  margin-bottom: 40px;
}

.new-cont > li:nth-child(6) {
  border-right: 0px;
}

.new-cont-img {
  height: 230px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  border: @cont-sub-border;
}