<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
<section class="m-slide">
    <div class="m-slide-img">
        <div class="m-body m-slide-btn">
            <div class="m-slide-btn-l m-slide-h">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="m-slide-btn-r m-slide-h">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</section>
<section class="m-mainIssue">
    <div class="m-body">
        <div class="m-mainIssue-t">
            <div class="m-tt">
                신작 연재
            </div>
            <div class="m-mainIssue-gen">
                <label class="m-mainIssue-gen-btn-r">
                    <input type="radio" name="m-radio" value="만화" checked> 만화
                </label>
                <label class="m-mainIssue-gen-btn-r">
                    <input type="radio" name="m-radio" value="소설"> 소설
                </label>
            </div>
            <ul class="m-mainIssue-gen-btn">
                <li>
                    <div class="m-mainIssue-gen-btn-n">
                        <i class="fa fa-angle-left"></i>
                    </div>
                </li>
                <li>
                    <div class="m-mainIssue-gen-btn-n">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="m-mainIssue-m">
            <li>
                <div class="m-mainIssue-img"  style="background-image: url(./img/m-eve1.jpg)"></div>
                <div class="m-mainIssue-txt">
                    <div class="m-mainIssue-txt-s">일상</div>
                    <div class="m-mainIssue-txt-b">고양이의 하루</div>
                    <div class="m-mainIssue-txt-m">러라라라라<br>라라라라</div>
                </div>
            </li>
        </ul>
        <div class="m-issue-event" style="background-image: url(./img/m-eve1.jpg)">
            <img src="./img/m-event.jpg" width="1000" height="180">
        </div>
    </div>
</section>
<section class="m-top"></section>
<section class="m-today"></section>
<section class="m-liveTop"></section>
<section class="m-new"></section>
<section class="m-check"></section>
{{> template/footer}}
</body>
</html>