<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
<section class="m-slide">
    <div class="m-slide-img">
        <div class="m-body m-slide-btn">
            <div class="m-slide-btn-l m-slide-h">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="m-slide-btn-r m-slide-h">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</section>
<section class="m-mainIssue">
    <div class="m-body">
        <div class="m-mainIssue-t">
            <div class="m-tt">
                신작 연재
            </div>
            <div class="m-mainIssue-gen">
                <label class="m-mainIssue-gen-btn-r">
                    <input type="radio" name="m-radio" value="만화" checked> 만화
                </label>
                <label class="m-mainIssue-gen-btn-r">
                    <input type="radio" name="m-radio" value="소설"> 소설
                </label>
            </div>
            <ul class="m-mainIssue-gen-btn">
                <li>
                    <div class="m-mainIssue-gen-btn-n">
                        <i class="fa fa-angle-left"></i>
                    </div>
                </li>
                <li>
                    <div class="m-mainIssue-gen-btn-n">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="m-mainIssue-m">
        </ul>
        <div class="m-issue-event" style="background-image: url(./img/m-eve1.jpg)">
        </div>
    </div>
    <div class="m-body">
        <div class="m-event-t">
            <div class="m-tt">
                무료공개, 파격할인 만화
            </div>
            <div class="m-all">
                전체보기
            </div>
        </div>
        <ul class="m-event-m">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>
<section class="m-top">
    <div class="m-body">
        <div class="m-event-t">
            <div class="m-tt">
                인기 만화
            </div>
            <div class="m-all">
                전체보기
            </div>
        </div>
        <ul class="m-top-li">
        </ul>
    </div>
</section>
<section class="m-today">
    <div class="m-body">
        <div class="m-tt m-event-t">오늘의 만화</div>
        <ul class="m-today-c">
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
        </ul>
        <div class="m-tt m-event-t">신규 만화</div>
        <ul class="m-today-c">
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
        </ul>
        <div class="m-tt m-event-t">신규 소설</div>
        <ul class="m-today-c">
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
            <li>
                <div class="m-today-c-img"></div>
                <div class="m-today-c-t">
                    그 끝에 있는 것
                    <span><br>BL/로맨스</span>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="m-liveTop">
    <div class="m-body">
        <div class="m-live-tt m-event-t">
            오늘 뭐보지? 실시간 만화 TOP 10
            <span><br>지금 레진독자들이 보는 그 작품</span>
        </div>
        <ul class="m-live-cont">
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img" style="background-image: url(./img/m-eve1.jpg);">
                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="m-new">

</section>
<section class="m-check">
    <div class="m-body">
        <div class="m-live-tt m-event-t">
            100만명이 선택한 만화
            <span><br>첫번째로 보셔야 할 작품</span>
        </div>
        <ul class="m-live-cont">
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img" style="background-image: url(./img/m-eve1.jpg);">
                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
        </ul>
    </div>
</section>
{{> template/footer}}
</body>
</html>