<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
<section class="m-top">
    <div class="m-top-img" style="background-image: url(./img/m-top.jpg)">
        <div class="m-story">
            <div class="m-top-l m-top-h">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="m-top-r m-top-h">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</section>
<section class="m-issue">
    <div class="m-story">
        <div class="m-issue-t">
            <div class="m-tt">
                신작 연재
            </div>
            <div class="m-issue-gen">
                <label class="m-issue-tt-btn-r">
                    <input type="radio" name="m-radio" value="만화" checked> 만화
                </label>
                <label class="m-issue-tt-btn-r">
                    <input type="radio" name="m-radio" value="소설"> 소설
                </label>
            </div>
            <ul class="m-issue-tt-btn">
                <li>
                    <div class="m-issue-tt-btn-n">
                        <i class="fa fa-angle-left"></i>
                    </div>
                </li>
                <li>
                    <div class="m-issue-tt-btn-n">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="m-issue-m">
            <li>
                <div class="m-issue-m-img"  style="background-image: url(./img/m-eve1.jpg)"></div>
                <div class="m-issue-txt">
                    <div class="m-issue-txt-s">일상</div>
                    <div class="m-issue-txt-b">고양이의 하루</div>
                    <div class="m-issue-txt-m">러라라라라<br>라라라라</div>
                </div>
            </li>
            <li>
                <div class="m-issue-m-img"  style="background-image: url(./img/m-eve1.jpg)"></div>
                <div class="m-issue-txt">
                    <div class="m-issue-txt-s">일상</div>
                    <div class="m-issue-txt-b">고양이의 하루</div>
                    <div class="m-issue-txt-m">러라라라라<br>라라라라</div>
                </div>
            </li>
            <li>
                <div class="m-issue-m-img"  style="background-image: url(./img/m-eve1.jpg)"></div>
                <div class="m-issue-txt">
                    <div class="m-issue-txt-s">일상</div>
                    <div class="m-issue-txt-b">고양이의 하루</div>
                    <div class="m-issue-txt-m">러라라라라<br>라라라라</div>
                </div>
            </li>
            <li>
                <div class="m-issue-m-img"  style="background-image: url(./img/m-eve1.jpg)"></div>
                <div class="m-issue-txt">
                    <div class="m-issue-txt-s">일상</div>
                    <div class="m-issue-txt-b">고양이의 하루</div>
                    <div class="m-issue-txt-m">러라라라라<br>라라라라</div>
                </div>
            </li>
        </ul>
        <div class="m-issue-event" style="background-image: url(./img/m-eve1.jpg)">
            <img src="./img/m-event.jpg" width="1180" height="180">
        </div>
    </div>
</section>
<section class="m-event">
    <div class="m-story">
        <div class="m-event-t">
            <div class="m-tt">
                무료공개, 파격할인 만화
            </div>
            <div class="m-all">
                전체보기
            </div>
        </div>
        <ul class="m-event-m">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>
<section class="m-tops">
    <div class="m-story">
        <div class="m-event-t">
            <div class="m-tt">
                인기 만화
            </div>
            <div class="m-all">
                전체보기
            </div>
        </div>
        <ul class="m-tops-li">
            <li>
                <div class="m-tops-gen">
                    <div class="m-top-one">
                        <div class="m-tops-gen-tit">
                            판타지 Top 5
                        </div>
                        <div class="m-topoftop">
                            <div class="m-topoftop-img" style="background-image: url(./img/lank/top-pan01.jpg)">
                                <div class="m-tops1 m-top-line">
                                    1
                                </div>
                                <div class="m-tops1-t m-top-line">
                                                <span>
                                                    안녕, 하루
                                                    <br>
                                                </span>
                                    일상 / 평화
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="m-top-gen-li">
                        <li>
                            <div class="m-tops-no m-top-line">2</div>
                            <div class="m-tops-name m-top-line">
                                <div class="m-tops-name-t">
                                    <span class="m-tops-name-tt">
                                        안녕, 하루
                                        <br>
                                    </span>
                                    일상 / 평화
                                </div>
                                <img align="right" src="./img/lank/top-pan02.jpg"
                                     height="80" width="80">
                            </div>
                        </li>
                        <li>
                            <div class="m-tops-no m-top-line">3</div>
                            <div class="m-tops-name m-top-line">
                                <div class="m-tops-name-t">
                                    <span class="m-tops-name-tt">
                                        안녕, 하루
                                        <br>
                                    </span>
                                    일상 / 평화
                                </div>
                                <img align="right" src="./img/m-top2.jpg" height="80" width="80">
                            </div>
                        </li>
                        <li>
                            <div class="m-tops-no m-top-line">4</div>
                            <div class="m-tops-name m-top-line">
                                <div class="m-tops-name-t">
                                    <span class="m-tops-name-tt">
                                        안녕, 하루
                                        <br>
                                    </span>
                                    일상 / 평화
                                </div>
                                <img align="right" src="./img/m-top2.jpg" height="80" width="80">
                            </div>
                        </li>
                        <li>
                            <div class="m-tops-no m-top-line">5</div>
                            <div class="m-tops-name m-top-line">
                                <div class="m-tops-name-t">
                                    <span class="m-tops-name-tt">
                                        안녕, 하루
                                        <br>
                                    </span>
                                    일상 / 평화
                                </div>
                                <img align="right" src="./img/m-top2.jpg" height="80" width="80">
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="m-tops-gen">
                    <div class="m-tops-gen-tit">
                        판타지 Top 5
                    </div>
                    <div class="m-topoftop">
                        <div class="m-tops1 m-top-line">1</div>
                        <div class="m-tops1-t m-top-line">
                                    <span>
                                        안녕, 하루
                                        <br>
                                    </span>
                            일상 / 평화
                        </div>
                    </div>
                    <ul class="m-top-gen-li">
                        <li>
                            <div class="m-tops-no m-top-line">2</div>
                            <div class="m-tops-name m-top-line">
                                <div class="m-tops-name-t">
                                    <span class="m-tops-name-tt">
                                        안녕, 하루
                                        <br>
                                    </span>
                                    일상 / 평화
                                </div>
                                <img align="right" src="./img/m-top2.jpg" height="80" width="80">
                            </div>
                        </li>
                        <li>
                            <div class="m-tops-no m-top-line">3</div>
                            <div class="m-tops-name m-top-line">
                                <div class="m-tops-name-t">
                                    <span class="m-tops-name-tt">
                                        안녕, 하루
                                        <br>
                                    </span>
                                    일상 / 평화
                                </div>
                                <img align="right" src="./img/m-top2.jpg" height="80" width="80">
                            </div>
                        </li>
                        <li>
                            <div class="m-tops-no m-top-line">4</div>
                            <div class="m-tops-name m-top-line">
                                <div class="m-tops-name-t">
                                    <span class="m-tops-name-tt">
                                        안녕, 하루
                                        <br>
                                    </span>
                                    일상 / 평화
                                </div>
                                <img align="right" src="./img/m-top2.jpg" height="80" width="80">
                            </div>
                        </li>
                        <li>
                            <div class="m-tops-no m-top-line">5</div>
                            <div class="m-tops-name m-top-line">
                                <div class="m-tops-name-t">
                                    <span class="m-tops-name-tt">
                                        안녕, 하루
                                        <br>
                                    </span>
                                    일상 / 평화
                                </div>
                                <img align="right" src="./img/m-top2.jpg" height="80" width="80">
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="m-tops-gen">
                    <div class="m-tops-gen-tit">
                        판타지 Top 5
                    </div>
                    <div class="m-topoftop">
                        <div class="m-tops1 m-top-line">1</div>
                            <div class="m-tops1-t m-top-line">
                                    <span>
                                        안녕, 하루
                                        <br>
                                    </span>
                                일상 / 평화
                            </div>
                    </div>
                    <ul class="m-top-gen-li">
                        <li>
                            <div class="m-tops-no m-top-line">2</div>
                            <div class="m-tops-name m-top-line">
                                <div class="m-tops-name-t">
                                    <span class="m-tops-name-tt">
                                        안녕, 하루
                                        <br>
                                    </span>
                                    일상 / 평화
                                </div>
                                <img align="right" src="./img/m-top2.jpg" height="80" width="80">
                            </div>
                        </li>
                        <li>
                            <div class="m-tops-no m-top-line">3</div>
                            <div class="m-tops-name m-top-line">
                                <div class="m-tops-name-t">
                                    <span class="m-tops-name-tt">
                                        안녕, 하루
                                        <br>
                                    </span>
                                    일상 / 평화
                                </div>
                                <img align="right" src="./img/m-top2.jpg" height="80" width="80">
                            </div>
                        </li>
                        <li>
                            <div class="m-tops-no m-top-line">4</div>
                            <div class="m-tops-name m-top-line">
                                <div class="m-tops-name-t">
                                    <span class="m-tops-name-tt">
                                        안녕, 하루
                                        <br>
                                    </span>
                                    일상 / 평화
                                </div>
                                <img align="right" src="./img/m-top2.jpg" height="80" width="80">
                            </div>
                        </li>
                        <li>
                            <div class="m-tops-no m-top-line">5</div>
                            <div class="m-tops-name m-top-line">
                                <div class="m-tops-name-t">
                                    <span class="m-tops-name-tt">
                                        안녕, 하루
                                        <br>
                                    </span>
                                    일상 / 평화
                                </div>
                                <img align="right" src="./img/m-top2.jpg" height="80" width="80">
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="m-today m-story">
    <div class="m-tt m-event-t">오늘의 만화</div>
    <ul class="m-today-c">
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
    </ul>
    <div class="m-tt m-event-t">신규 만화</div>
    <ul class="m-today-c">
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
    </ul>
    <div class="m-tt m-event-t">신규 소설</div>
    <ul class="m-today-c">
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
        <li>
            <div class="m-today-c-img"></div>
            <div class="m-today-c-t">
                그 끝에 있는 것
                <span><br>BL/로맨스</span>
            </div>
        </li>
    </ul>
</section>
<section class="m-story m-livetop">
    <div>
        <div class="m-live-tt m-event-t">
            오늘 뭐보지? 실시간 만화 TOP 10
            <span><br>지금 레진독자들이 보는 그 작품</span>
        </div>
        <ul class="m-live-cont">
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img" style="background-image: url(./img/m-eve1.jpg);">
                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="m-story m-new">
    <div class="m-new-cont">
        <div class="m-live-tt m-event-t">
            최신화 업데이트
            <span><br>인기만화 최신화 업데이트</span>
        </div>
        <ul class="new-cont">
            <li>
                <div class="new-cont-img" style="  background-image: url(./img/m-top2.jpg);"></div>
                <div class="m-cont-tt">
                    신림과 봉천 사이
                </div>
                <div class="m-cont-gen">
                    BL
                </div>
                <div class="m-cont-w">
                    AJS
                </div>
            </li>
            <li>
                <div class="new-cont-img" style="  background-image: url(./img/m-top2.jpg);"></div>
                <div class="m-cont-tt">
                    신림과 봉천 사이
                </div>
                <div class="m-cont-gen">
                    BL
                </div>
                <div class="m-cont-w">
                    AJS
                </div>
            </li>
            <li>
                <div class="new-cont-img" style="  background-image: url(./img/m-top2.jpg);"></div>
                <div class="m-cont-tt">
                    신림과 봉천 사이
                </div>
                <div class="m-cont-gen">
                    BL
                </div>
                <div class="m-cont-w">
                    AJS
                </div>
            </li>
            <li>
                <div class="new-cont-img" style="  background-image: url(./img/m-top2.jpg);"></div>
                <div class="m-cont-tt">
                    신림과 봉천 사이
                </div>
                <div class="m-cont-gen">
                    BL
                </div>
                <div class="m-cont-w">
                    AJS
                </div>
            </li>
            <li>
                <div class="new-cont-img" style="  background-image: url(./img/m-top2.jpg);"></div>
                <div class="m-cont-tt">
                    신림과 봉천 사이
                </div>
                <div class="m-cont-gen">
                    BL
                </div>
                <div class="m-cont-w">
                    AJS
                </div>
            </li>
            <li>
                <div class="new-cont-img" style="  background-image: url(./img/m-top2.jpg);"></div>
                <div class="m-cont-tt">
                    신림과 봉천 사이
                </div>
                <div class="m-cont-gen">
                    BL
                </div>
                <div class="m-cont-w">
                    AJS
                </div>
            </li>
            <li>
                <div class="new-cont-img" style="  background-image: url(./img/m-top2.jpg);"></div>
                <div class="m-cont-tt">
                    신림과 봉천 사이
                </div>
                <div class="m-cont-gen">
                    BL
                </div>
                <div class="m-cont-w">
                    AJS
                </div>
            </li>
            <li>
                <div class="new-cont-img" style="  background-image: url(./img/m-top2.jpg);"></div>
                <div class="m-cont-tt">
                    신림과 봉천 사이
                </div>
                <div class="m-cont-gen">
                    BL
                </div>
                <div class="m-cont-w">
                    AJS
                </div>
            </li>
            <li>
                <div class="new-cont-img" style="  background-image: url(./img/m-top2.jpg);"></div>
                <div class="m-cont-tt">
                    신림과 봉천 사이
                </div>
                <div class="m-cont-gen">
                    BL
                </div>
                <div class="m-cont-w">
                    AJS
                </div>
            </li>
            <li>
                <div class="new-cont-img" style="  background-image: url(./img/m-top2.jpg);"></div>
                <div class="m-cont-tt">
                    신림과 봉천 사이
                </div>
                <div class="m-cont-gen">
                    BL
                </div>
                <div class="m-cont-w">
                    AJS
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="m-story m-livetop">
    <div>
        <div class="m-live-tt m-event-t">
            100만명이 선택한 만화
            <span><br>첫번째로 보셔야 할 작품</span>
        </div>
        <ul class="m-live-cont">
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img" style="background-image: url(./img/m-eve1.jpg);">
                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
            <li>
                <div class="m-live-cont-ca">
                    <div class="m-live-img">

                    </div>
                    <div class="m-cont-tt">
                        바나나툰
                    </div>
                    <div class="m-cont-gen">
                        개그/일상
                    </div>
                </div>
                <div class="m-cont-w">
                    와나나
                </div>
            </li>
        </ul>
    </div>
</section>
{{> template/footer}}
</body>
</html>