<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
<section class="m-top">
    <div class="m-top-img" style="background-image: url(./img/m-top.jpg)">
        <div class="m-top-r">
            <i></i>
        </div>
        <div class="m-top-l">
            <i></i>
        </div>
    </div>
</section>
<section></section>
<section></section>
<section></section>
<section></section>
<section></section>
<section></section>
<section></section>
<section></section>
<section></section>
{{> template/footer}}
</body>
</html>