<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header}}
<section class="m-slide">
    <div class="m-slide-img">
        <div class="m-body m-slide-btn">
            <div class="m-slide-btn-l m-slide-h">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="m-slide-btn-r m-slide-h">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</section>
<section class="m-mainIssue">
    <div class="m-body">
        <div class="m-mainIssue-t">
            <div class="m-tt">
                신작 연재
            </div>
            <div class="m-mainIssue-gen">
                <label class="m-mainIssue-gen-btn-r">
                    <input type="radio" name="m-radio" value="만화" checked> 만화
                </label>
                <label class="m-mainIssue-gen-btn-r">
                    <input type="radio" name="m-radio" value="소설"> 소설
                </label>
            </div>
            <ul class="m-mainIssue-gen-btn">
                <li>
                    <div class="m-mainIssue-gen-btn-n">
                        <i class="fa fa-angle-left"></i>
                    </div>
                </li>
                <li>
                    <div class="m-mainIssue-gen-btn-n">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="m-mainIssue-m">
        </ul>
        <div class="m-issue-event" style="background-image: url(./img/m-eve1.jpg)">
        </div>
    </div>
    <div class="m-body">
        <div class="m-event-t">
            <div class="m-tt">
                무료공개, 파격할인 만화
            </div>
            <div class="m-all">
                전체보기
            </div>
        </div>
        <ul class="m-event-m">
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>
<section class="m-top">
    <div class="m-body">
        <div class="m-event-t">
            <div class="m-tt">
                인기 만화
            </div>
            <div class="m-all">
                전체보기
            </div>
        </div>
        <ul class="m-top-li">
            <li>
                <div class="m-top-gen-tit">제목</div>
                <div class="m-oneTop" style="background-image: url('./img/m-top.jpg')">
                    <div class="m-oneTop-lank">1</div>
                    <div class="m-oneTop-t">안녕 하루 <span>d3d</span></div>
                </div>
                <ul>
                    <li></li>
                </ul>
            </li>
        </ul>
    </div>
</section>
<section class="m-today"></section>
<section class="m-liveTop"></section>
<section class="m-new"></section>
<section class="m-check"></section>
{{> template/footer}}
</body>
</html>